{% extends 'base.html' %}

{% block title %}About me{% endblock title %}

{% block content %}

<h1>About Me</h1>

<p>
  There's more to myself than what I've written here, but I will stick to the essential :P. I am now a third-year Computer Scientist in love with technology, programming and video games. There are times when I can't realise how fast time passes, especially during those engaging programming sessions.
<br>
  To change the topic a bit, I love long and eye-catching mountain trips. There are plenty in Romanian's mountains which you can travel on foot, during summertime. Additionally, our cuisine is known to be diverse, we inspired from Turkey, Poland, Russia, but made everything Romanian :).
<br>
  There are things you shouldn't miss during your future trips to Romania, will leave some amazing pictures below :


</p>
{% endblock content %}
