{% extends 'base.html' %}

{% block title %}Enjoyment{% endblock title %}

{% block content %}

<h1>What a year this has been!</h1>

<p>&nbsp;&nbsp;It started amazing, moved to Selly with few of my friends, some late-night parties and great memories. Then the assignments started, those weren't that bad, to be honest, but you could feel the weight of the second year coming in.<br>
&nbsp;&nbsp;What I've enjoyed was the fact that our coursework was focused more on team-work and less on individual activities. I usually tend to tackle the challenges and requirements easier when being part of a team.
<br>&nbsp;&nbsp;Therefore, the software engineer module was my favourite one so far. My team worked marvelous. I was lucky to be with them, everyone worked as hard as they possibly could and, in the end, we managed to 'deliver' a great app.<br>
&nbsp;&nbsp;During the second term, things were a bit different, but I think it was the first time I went through so many things at the same time. Found Security and Mathematical Modelling challenging and highly time-consuming.
What really saved me was the Team Project. If during the first term everything we've worked on was kind of hypothetical, now we had to create, develop, integrate, re-think, reorder and deliver a complete and unique game.

</p>
{% endblock content %}
