{% extends 'base.html' %}

{% block title %}Almost done{% endblock title %}

{% block content %}

<h1>I found this project awesome!</h1>

<p> It certainly has been one of the most engaging projects I've encountered.<br>
After finishing the first part of the assignment, I took a month break. Coming back to it, I started studying 'Obeying The Testing Goat', trying to understand the basics behind testing in Python.<br>
As you might find in my tests.py, I used the tests provided in the book and created some of my own. After that, I slowly started building the form-interfaced webpage. I tested it, took it one by one and created a CV Builder.<br>
Next steps were - creating a user log in, some database entries to save those users, then making the CV available to every individual user. I tried cutting it short, and uploading the CV on mail, but couldn't pull it off in time.<br>
The form-based webpage creates a user CV using a templated that I've chosen. It introduces data using the pillow package. I found it really important to use the TDD approach, which proved to be useful in solving some bugs and misunderstandings that I never thought I had.
</p>
{% endblock content %}
