{% extends 'base.html' %}

{% block title %}Enjoyment{% endblock title %}

{% block content %}

<h1>What about the upcoming year?</h1>
<p>
  &nbsp;&nbsp;I have a few plans for the year to come. I am aiming to develop a machine learning algorithm that I could use to train some models. Having said that will focus on learning and working with Python as much as I possibly can due to its libraries. Being certain that learning Python with also help me with my final year project, I am looking forward to the outcomes that I will receive from the modules chosen. Knowing myself, those modules that I've chosen will come in handy and help me gain some insight into this vast and lovely world of Computer Science.<br>
  &nbsp;&nbsp;If next year's lectures will be held online, I might look for a part-time job where I will gain some valuable knowledge. Working and studying at the same will require a well-organized schedule.
</p>
{% endblock content %}
